<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Notmuch Webmail</title>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.css" rel="stylesheet">
	<link href="css/custom.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid max-height">
	<div id="search-row" class="row">
		<div class="span6 offset3">
			<form id="search" class="form-search">
				<div class="input-append">
				<input id="query" type="search" class="input-xxlarge search-query">
				<button type="submit" class="btn">Search</button>
				</div>
			</form>
		</div>
	</div>

	<div class="row-fluid max-height">
		<div class="span5 scrollable">
			<div id="threads"></div>
		</div>
		<div class="span7 scrollable">
			<div id="messages"></div>
		</div>
	</div>
	</div>
	<script id="thread-template" type="text/x-handlebars-template">
		<p class='thread'>
		<strong>{{subject}}</strong> ({{matched}}/{{total}})
		<span class='pull-right'>{{date_relative}}</span><br>
		{{authors}}
		<br>
		<span class='pull-right'>
		{{#each tags}}
			<span class="label">{{this}}</span>
		{{/each}}
		</span>
		</p>
		<hr>
	</script>
	<script id="message-template" type="text/x-handlebars-template">
		{{depth_open depth}}
		<p class='message'>
		<div class='row'>
		<dl class='dl-horizontal span8'>
			<dt>From</dt><dd>{{From}}</dd>
			<dt>To</dt><dd>{{To}}</dd>
			<dt>Date</dt><dd>{{Date}}</dd>
			<dt>Subject</dt><dd>{{Subject}}</dd>
		</dl>
		<span class='pull-right span4'>
		{{#each tags}}
			<span class="label">{{this}}</span>
		{{/each}}
		</span>
		</div>
		<pre>{{body}}</pre>
		</p>
		{{depth_close depth}}
	</script>
	<script id="message-template-fold" type="text/x-handlebars-template">
		{{depth_open depth}}
		<p class='message well'>
		<strong>{{From}}</strong>
		<span class='pull-right'>
		{{Date}}
		{{#each tags}}
			<span class="label">{{this}}</span>
		{{/each}}
		</span>
		</p>
		{{depth_close depth}}
	</script>

	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/handlebars.js"></script>
	<script src="js/underscore.js"></script>
	<script src="js/backbone.js"></script>
	<script src="js/notmuch.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var resize = function() {
				var h=$('body').height() - $('#search-row').height();
				$('.scrollable').height(h+'px');
			};
			resize();
			$(window).resize(resize);

			Handlebars.registerHelper('depth_open', function(depth) {
				return new Handlebars.SafeString("<div style='padding-left:" + ((depth-1)*10) + "px'>");
			});
			Handlebars.registerHelper('depth_close', function(depth) {
				var str = "</li>";
				return new Handlebars.SafeString("</div>");
			});
		});
	</script>
</body>
</html>
